* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: rgb(246, 246, 246);
}

header,
button {
  background-color: rgb(255, 127, 39);
}

h1,
nav,
button {
  color: white;
}

.page-heading {
  border-bottom: 0.5rem solid black;
}

#not-found {
  color: black;
}

button {
  border-color: rgb(255, 127, 39);
  padding: 1rem;
  border-radius: 0.5rem;
}

#dont-have-acc {
  color: blue;
  border-bottom: 0.2rem solid blue;
  display: inline;
}

nav > h2:hover,
#dont-have-acc:hover {
  cursor: pointer;
}
